.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
  }
  
  .centered-image {
    width: 100%; 
    width: auto;
  }
    

  .show-calculator-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }

  .button2 {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }
  
  .button3 {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }
  