/* src/components/ImageComponent.css */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0; /* Remove margin */
    overflow: hidden; /* Hide overflow to ensure the image covers the full height */
  }
  
  .centered-image {
    width: 100%; /* Set the width to 100% */
    height: auto;
  }
  