/* Header */



body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Set your desired background color */
    color: #333; /* Set your desired text color */
    /* overflow: auto; */
  }
  
  .h1-workout-planner {
    text-align: center;
    margin-top: 50px;
    color: #333; /* Set your desired text color */
  }
  
  #exerciseForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 4px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f2f2f2; /* Set background color */
    border-radius: 10px; 
  }
  
  #exerciseForm label {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    color: #333;
  }
  
  #exerciseForm select {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
  }
  
  #exerciseForm button {
    box-shadow: inset 0px 0px 19px -1px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 10px;
    margin: 10px;
    text-decoration: none;
    text-shadow: -1px 14px 39px #2b665e;
  }
  
  #exerciseForm button:hover {
    background-color: #45a049;
  }
  
  .a {
    color: #4caf50;
  }
  
  /* Exercise */
  .exercise-item h2 {
    font-size: 1.2rem; /* Adjust the font size for the title */
    color: #333; /* Set the title color */
  }
  
  .exercise-details li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .exercise-details li:last-child {
    border-bottom: none;
  }
  
  .result-section {
    margin: 2% 5% 5% 5%;
    max-width: 90%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in one row */
    justify-content: space-between;
    overflow-x: auto; /* Add horizontal scroll if needed */
    background-color: #f2f2f2; /* Set background color */
    border-radius: 10px; /* Add border-radius for a rounded look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .exercise-list {
    list-style: none;
    padding: 0;
    margin-right: 20px; /* Add margin between items */
    box-sizing: border-box;
  }
  
  .exercise-item {
    margin-bottom: 10px;
    padding: 20px; /* Increase padding for better spacing */
    border: 1px solid #ddd; /* Add the border color back */
    border-radius: 8px;
    background-color: #fff; /* Set the background color to white or any color you prefer */
  }
  
  .exercise-details {
    list-style: none;
    padding: 0;
  }
  
  .exercise-details li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .exercise-details li:last-child {
    border-bottom: none;
  }

  #addToCalendarBtn {
    /* Your existing styles for the button */
    box-shadow: inset 0px 0px 19px -1px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 10px;
    margin: 10px;
    text-decoration: none;
    text-shadow: -1px 14px 39px #2b665e;
    /* Additional styles to center the button */
    bottom: 20px;
    transform: translateX(340%);
  }