/* src/App.css */

body {
  /* background-color: black; */
  overflow: hidden;
}

.app-container {
  text-align: center;
}

.images-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.images-wrapper img {
  width: 100vw; /* Set the width to 100% of the viewport width */
  max-width: none; /* Remove max-width */
  height: auto;
}







