
body {
  overflow: hidden;
}

.app-container {
  text-align: center;
}

.images-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0; 
  padding: 0; 
}

.images-wrapper img {
  width: 100vw; 
  max-width: none; 
  height: auto;
}







